<div class="login-container">
  <h1><box-icon size="lg" name="book-reader"></box-icon> StoryBooks</h1>
  <p>Create public and private stories form your life</p>
  <a href="#" class="button">
    <box-icon color="white" name="google" type="logo"></box-icon> login with google</a>

</div>